.test2 {
    font-size: 32px;
    color: #F1F4F4
}

.router-navs {
    width: 100%;
    height: auto;
    overflow: hidden;
    li {
        float: left;
        width: 25%;
        height: auto;
        list-style: none;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
}
